body {
  font-family: Georgia, Verdana, Helvetica, Arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 120%;
  background-color: white;
  background: url(/src/assets/images/sandston2-from-Milne.jpeg);
  padding: 0;
  margin: 0;
  text-decoration: none;
}